@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@pale-magenta: #ff80d9;
@malibu: #4eaffe;
@sunglow: #ffd829;
@burnt-orange: #fe6927;
@blue-magenta: #1e003e;





@media screen and (max-width: 768px) {
  .text {
    height: 670px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 180px;

    h1 {
      display: flex;
      flex-direction: column;

      .pink {
        padding-top: 100px;
        font-size: 100px;
        height: 88px;
      }

      .yellow {
        font-size: 100px;
        height: 88px;
      }
      
      .l-blue {   
        font-size: 100px;
        height: 88px;
      }

      .white {
        display: flex; 
        padding-top: 85px;
        font-size: 100px;
        height: 88px;
      }     
    }
    
  .parrafoLandig {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 3000px;
      width: 50px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 1px;
      color: #eaebed;     
    }

  .btnConteExplorar {
      height: 50px;
      display: flex;
      align-items: center;
      margin-right: ;
      border-radius: 100px;
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
  }

  .logoContenedor {
    height: auto;
  }

  .logoPrincipal {
    margin-top: auto;
    margin-left: 35%;
    height: 350px;
    width: 350px;
  }

  .contenedorAmarilla {
    display: flex;
    
    .estrellaAmarilla {
      display: flex;
      justify-content: right;
      height: 90px;
    }
  }
}





@media screen and (max-width: 360px) {
.header {


  .contenedorNaranja {
    display: center;
    justify-content: center;
   
    .estrellaNaranja {
      height: px;
    }
  }
}
  .text {
    height: 360px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    margin-left: 50%;
    margin-right: 22%;
    

    

    h1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .pink {
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        font-size: 50px;
        height: 40px;
      }

      .yellow {
        display: flex;
        flex-wrap: wrap;
        font-size: 50px;
        height: 40px;
      }

      .l-blue {
        display: flex;
        flex-wrap: wrap;
        font-size: 50px;
        height: 40px;
      }

      .white {
        display: flex;
        flex-wrap: wrap;
        padding-top: 7px;
        font-size: 50px;
        height: 4px;
      }

      
    }
    
   .parrafoLandig {
      height: 300px;
      margin-left: 5%;
      margin-right: 17%;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 203px;
      color: #eaebed;
      
      
      
    }

   .btnConteExplorar {
      height: 50px;
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }

    
  
  }

  .logoContenedor {
    height: auto;
  }

  .logoPrincipal {
    margin-top: 20%;
    margin-left: 35%;
    height: 180px;
    width: 180px;
  }

  .contenedorAmarilla {
    display: flex;
    
    .estrellaAmarilla {
      display: flex;
      justify-content: right;
      height: 60px;
      margin-left: 20%;
    }
  }

  .catalogo {
    display: flex;
    justify-content: center;
    align-items: center;


    .trayectoriaDeOnda {
      width: 30px;
      margin: 0;
    }


    .h2Catalogo {
      margin-left: 9px;
      margin-right: 5%;
    }

  }

}