@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@pale-magenta: #ff80d9;
@malibu: #4eaffe;
@sunglow: #ffd829;
@burnt-orange: #fe6927;
@blue-magenta: #1e003e;

.pink {
  color: @pale-magenta;
}
.yellow {
  color: @sunglow;
}
.l-blue {
  color: @malibu;
}
.white {
  color: white;
}

body {
  margin: auto;
}
section {
  overflow: hidden;
}

.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1e003e 50%, #000000 100%);

  .contenedorNaranja {
    height: 63px;
    display: flex;
    justify-content: center;

    .estrellaNaranja {
      height: 63px;
      width: 63px;
    }
  }

  .contenedorElipseGrande {
    height: 23px;
    display: flex;
    justify-content: center;
    margin-left: 370px;
    margin-top: 1px;

    .elipseGrande {
      height: 23px;
      width: 23px;
    }
  }

  .contenedorNaranja {
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;

    .estrellaNaranja {
      height: 98px;
      width: 98px;
    }
  }

  .contenedorEPequena {
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 460px;

    .elipsePequena {
      height: 11px;
      width: 11px;
    }
  }

  .btnInicio {
    padding: 10px 24px;
    background: #ff80d9;
    border-radius: 100px;
    border: none;
    margin-top: 49px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    cursor: pointer;
  }

  

  .btnRegisto {
    padding: 10px 24px;
    background: none;
    margin-top: 49px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    cursor: pointer;
  }

  .btnRegisto:hover {
    color: #ff80d9;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0 45px 0 0;
      padding: 0;
      overflow: hidden;
      gap: 70px;
    }

    img {
      margin-top: 49px;
      height: 55px;
      margin-left: 45px;
    }
  }

  .frontpage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 45px;
    .text {
      width: 750px;
      h1 {
        margin-bottom: 38px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 110px;
        line-height: 90%;

        /* or 99px */
        text-transform: uppercase;
      }
      .parrafoLandig {
        width: auto;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #eaebed;
      }

      .btnExplorar {
        margin-top: 48px;
        padding: 10px 55px;
        background: #ff80d9;
        border-radius: 100px;
        border: none;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: white;
        cursor: pointer;
      }

     
    }
    .logoPrincipal {
      width: autos;
    }
  }
}

.catalogo {

  background: linear-gradient(180deg, #000000 0%, #1e003e 30.22%);
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 0;
  margin-bottom: 0;

 


  .trayectoriaDeOnda {
    width: 30.67px;
    height: 32px;
    margin-left: 90px;
  }

  .h2Catalogo {
    color: #eaebed;
    font-family: Montserrat, sans-serif;
    width: 182px;
    height: 29px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }

  .estilosContenedor {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;

    .estilosMusica {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .linkEstilos {
      text-decoration: none;
    }

    .estiloH4 {
      list-style: none;
      gap: 40px;
      margin: 30px 10px 0 0px;
      width: 31px;
      height: 19px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #eaebed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .estiloB {
        background: #eaebed;
        height: 89px;
        width: 89px;
        border-radius: 50px;
      }

      .gif {
        width: 60px;
        height: 60px;
        margin: 14px 14px 14px 14px;
        border-radius: 50px;
      }
    }
  }

  .contenedorCard {
    margin-top: 200px;
    display: flex;
  }
}

.artistasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 90px;
  margin-top: 50px;

  .artistasImg {
    width: 32px;
    height: 31.91px;
  }

  .artistash2 {
    color: #eaebed;
    width: 162px;
    height: 29px;
    left: 208px;
    top: 1995px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
    text-transform: uppercase;
  }

 
}
  //
  
.sliderContainer {
  margin: 0 auto;
  overflow-x: hidden;
  margin-bottom: 60px;
  margin-top: 80px;
  border: none;
}


.slider {
  display: flex;
  cursor: pointer;
}

.item {
   
  padding: 0;
}

.imgSlider {
  height: 542px;
  width: 438px;
  pointer-events: none;
  padding: 0;
  margin: O;
}

@media screen and (max-width: 340px) {
  .imgSlider {
      height: 4870spx;
      width: 390px;
      pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .text {
    height: 670px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 180px;

    h1 {
      display: flex;
      flex-direction: column;

      .pink {
        padding-top: 100px;
        font-size: 100px;
        height: 88px;
      }

      .yellow {
        
        font-size: 100px;
        height: 88px;
      }

      .l-blue {
        
        font-size: 100px;
        height: 88px;
      }

      .white {
        display: flex;
        
        padding-top: 85px;
        font-size: 100px;
        height: 88px;
      }

      
    }
    
  .parrafoLandig {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 3000px;
      width: 50px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 1px;
      color: #eaebed;
      
    }

  .btnConteExplorar {
      height: 50px;
      display: flex;
      align-items: center;
      margin-right: 40px;
      border-radius: 100px;
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }

    
  
  }

  .logoContenedor {
    height: auto;
  }

  .logoPrincipal {
    margin-top: auto;
    margin-left: 35%;
    height: 350px;
    width: 350px;
  }

  .contenedorAmarilla {
    display: flex;
    
    .estrellaAmarilla {
      display: flex;
      justify-content: right;
      height: 90px;
    }
  }


}





@media screen and (max-width: 360px) {
.header {


  .contenedorNaranja {
    display: center;
    
   
    .estrellaNaranja {
      margin-bottom: 90px;
      height: 35px;
    }
  }
}
  .text {
    height: 360px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    margin-left: 50%;
    margin-right: 22%;
    

    

    h1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .pink {
        display: flex;
        flex-wrap: wrap;
        padding-top: 100px;
        font-size: 50px;
        height: 40px;
      }

      .yellow {
        display: flex;
        flex-wrap: wrap;
        font-size: 50px;
        height: 40px;
      }

      .l-blue {
        display: flex;
        flex-wrap: wrap;
        font-size: 50px;
        height: 40px;
      }

      .white {
        display: flex;
        flex-wrap: wrap;
        padding-top: 7px;
        font-size: 50px;
        height: 4px;
      }

      
    }
    
   .parrafoLandig {
      height: 300px;
      margin-left: 5%;
      margin-right: 17%;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 203px;
      color: #eaebed;
      
      
      
    }

   .btnConteExplorar {
      height: 50px;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }

    
  
  }

  .logoContenedor {
    height: auto;
  }

  .logoPrincipal {
    margin-top: 20%;
    margin-left: 35%;
    height: 180px;
    width: 180px;
  }

  .contenedorAmarilla {
    display: flex;
    
    .estrellaAmarilla {
      display: flex;
      justify-content: right;
      height: 60px;
      margin-left: 20%;
    }
  }

  .catalogo {
    display: flex;
    justify-content: center;
    align-items: center;


    .trayectoriaDeOnda {
      width: 30px;
      margin: 0;
    }


    .h2Catalogo {
      margin-left: 9px;
      margin-right: 5%;
    }

  }

}