.card {
    
    /*border-radius: 12px 12px 12px 12px;*/
    width: 181px;
    height: 60px;
    border-radius: 12px;
    color: #FFD829;
}


.cardContenedor {
       
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 330px;
}