@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.yellow {
  color: #ffd829;
}

.home {
  background: linear-gradient(180deg, #000000 50%, #1e003e 100%);
  height: 100%;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 362px;
  margin-top: 50px;
  background: linear-gradient(
    268.87deg,
    #4eaffe 0.48%,
    #1e003e 51.63%,
    #0a0015 99.04%
  );
  border-radius: 0px 239px 239px 0px;
  overflow: visible;

  .chicoMusic {
    width: 400px;
    margin-right: 55px;
  }

  .welcome-text {
    margin-left: 160px;
    color: #eaebed;

    h3 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 90%;

      span {
        font-weight: 700;
        font-family: "Montserrat";
        color: #ffd829;
        font-size: 32px;
      }
    }

    h1 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 59px;
      text-transform: uppercase;
    }
  }
}

.navbar {
  color: white;
  height: 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .left-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
  .logoHome {
    width: 56px;
    height: 56px;
    margin-left: 100%;
    top: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  }
   

    .ulHome {
      display: flex;
      align-items: center;
      margin: 0 45px 0 150px;
      padding: 0;
      overflow: hidden;
      gap: 70px;
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      .linkHome {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .inicio {
      color: #eaebed;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .right-navbar {
    display: flex;
    align-items: center;
    gap: 50px;

    .searchbar {
      display: flex;
      width: 328px;
      height: 40px;
      border: 2px solid #eaebed;
      border-radius: 28px;

      .btnLupa {
        border: none;
        background: none;
        color: #eaebed;
        font-size: 23px;
        padding-right: 20px;
        cursor: pointer;
      }
    }

    .avatarHome {
      width: 100px;
      color: #eaebed;
      font-size: 33px;
      padding-right: 40px;
      
    }
    input {
      margin-left: 20px;
      width: 280px;
      height: 40px;
      border: none;
      background: none;
      border-radius: 28px;
      outline: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #eaebed;
    }

    button {
      height: 40px;
      border: none;
    }
  }
}

.iconic {
  margin: 0 90px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 60px;

  .albunesIconicos {
    width: 354px;
    height: 29px;
    left: 212px;
    top: 598px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
    text-transform: uppercase;
    color: #eaebed;
    display: flex;
    flex-direction: row;
  }

  .imgStar {
    height: 32px;
    width: 32px;
  }
}

.chicoMusic1 {
  display: none;
}

.iconic-albums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .contenedorAlbumIconico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imgAlbumIco {
      width: 181px;
      height: 184px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .h4Iconico {
      margin-bottom: 0;
      text-align: left;
      width: 166px;
      height: 24px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #eaebed;
      display: flex;
      flex-direction: column;
    }

    .parrafoIconico {
      margin-top: 2px;
      text-align: left;
      width: 186px;
      height: 20px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #eaebed;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


    .left-navbar{
      display: flex;



      .ulHome{
        display: none;
      }

    }

    .right-navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: row;
      justify-content: center;
      align-items: center;
      

      .searchbar {
        width: 200px;
        input {
          width: 130px;
        }
      }

      .avatarHome {
        width: 30px;
        height: 30px;
        padding-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }


    #hidden2 {
      position: absolute;
      left: 0;
      margin-left: 0px;
      top: 110px;
      padding-top: 80px;
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: black
      
  }




  }
  .welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 350px;
    margin-top: 50px;
    background: linear-gradient(
      268.87deg,
      #4eaffe 0.48%,
      #1e003e 51.63%,
      #0a0015 99.04%
    );
    border-radius: 0px 239px 239px 0px;
    overflow: visible;
  
    .chicoMusic {
      display: none;
    }
  
    .welcome-text {
      margin-left: 60px;
      color: #eaebed;
  
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 90%;
  
        span {
          font-weight: 700;
          font-family: "Montserrat";
          color: #ffd829;
          font-size: 22px;
        }
      }
  
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 39px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 360px) {

  .navbar {
    display: flex;
    
    
    
    .left-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 110px;

    .ulHome{
      
      gap: 20px;

      .linkHome {
        display: flex;
        flex-direction: column;
      }
    }

      
    }


    .right-navbar {
      display: none;
      
    }

    .chicoMusic1 {
      display: flex;
      height: 50px;
    }

  }


}


@media only screen and (max-width: 768px) {

  .iconic {
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 3px;

    .albunesIconicos {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 230px;
      
    }

  }

  .chicoMusic1 {
    display: flex;
    height: 50px;
    
  }

}

@media only screen and (max-width: 768px) {
  .iconic-albums{
    display: flex;
    flex-wrap: wrap;
  }

  
  

}
