.home {
  background: linear-gradient(180deg, #000000 50%, #1E003E 100% );
  height: 3480px;
}

.welcome {
  width: 96%;
  height: 362px;
  background: linear-gradient(268.87deg, #4EAFFE 0.48%, #1E003E 51.63%, #0A0015 99.04%);
  border-radius: 0px 239px 239px 0px;
}

.navbar {
  
  color: white;
  display: flex;
  height: 138px;
  justify-content: space-between;
}